/* Used CSS from https://codepen.io/tgallimore/pen/xwGOXB */

nav { 
  font-family: 'Cormorant Garamond', serif;
  font-size: 25px;
}

.navbar-brand { 
  font-family: 'Cormorant Garamond', serif;
  font-size: 45px;
}

body {
  /* text-align: center; */
  margin:0;
  padding:20px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  background-color: #F9E5F5;
}

/* PPD Page Styling */
.general { 
  margin: 25px;
  padding: 20px; 
  padding-left: 100px;
  padding-right: 100px;
}

.resources { 
  margin: 25px;
  padding: 20px; 
  padding-left: 100px;
  padding-right: 100px;
  font-size: 22px;
}

h2 { 
  text-align: center;
  font-size: 35px;
}

/* .quiz {
  padding:0 30px 20px 30px;
  max-width:960px;
  margin:0 auto;
}
.quiz > ul {
  list-style:none;
  padding: 0;
  margin:0;
}
.quiz-answer {
  margin:0;
  padding:10px;
  background:#f7f7f7;
  margin-bottom:5px;
  cursor: pointer;
}
.quiz-answer > hover {
  background:#eee;
}
.quiz-answer > before {
  content:"";
  display:inline-block;
  width:15px;
  height:15px;
  border:1px solid #ccc;
  background:#fff;
  vertical-align:middle;
  margin-right:10px;
}

.quiz-result {
  max-width:960px;
  margin:0 auto;
  font-weight:bold;
  text-align:center;
  color: #fff;
  padding:20px;
} */

/* Quiz Page Styling */
.section { 
  padding: 20px;

}

#result { 
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

h1 { 
  margin: 10px;
  padding: 20px;
  text-align: center;
}

button { 
  background-color: cornsilk;
  border-color: lightsteelblue;
  border-radius: 10px;
  padding: 10px;

}

.quizquestions { 
  margin: 10px;
  padding: 20px;
}