{% extends 'base.html' %}

{% block title %}
    Postpartum Depression
{% endblock %}

{% block content %}
    <div>
        <h3>Symptoms</h3>
        <p>Postpartum depression is a birth complication that affects up to 1 in 7 women. Symptoms include excess worrying and anxiety, difficulty sleeping, lack of interest in self-care, poor appetite, lack of energy, and frequent crying. Some of these symptoms can be normal responses, and many women have “baby blues” that can come with some of these symptoms, but “baby blues” typically go away within a few days or a week. Postpartum depression comes with more severe symptoms that last for a longer period of time.</p>
        <h3>Treatment</h3>
        <p>There are different treatments available, such as different types of therapy and medications like antidepressants, and brain stimulation therapies.</p>

    </div>
{% endblock %}