{% extends 'base.html' %}

{% block title %}
    Preg: Learn About Postpartum Depression
{% endblock %}

{% block content %}
    <div>
        <div class="general">
            <h2><b>What is Postpartum Depression?</b></h2>
            <hr>
            <p>Postpartum depression is a birth complication that affects up to 1 in 7 women. Symptoms include excess worrying and anxiety, difficulty sleeping, lack of interest in self-care, poor appetite, lack of energy, and frequent crying. Some of these symptoms can be normal responses, and many women have “baby blues” that can come with some of these symptoms, but “baby blues” typically go away within a few days or a week. Postpartum depression comes with more severe symptoms that last for a longer period of time. There are different treatments available, such as brain stimulation therapy and antidepressant medication.</p>
        </div>
        
        <div class="resources">
             <h2><b>Resources</b></h2>
            <hr>
            <ul class="list">
                <li><a href="https://postpartumprogress.com/ppd-support-groups-in-the-u-s-canada">Guide to Support Groups in the US & Canada</a></li>
                <li><a href="https://www.postpartum.net/">Postpartum Support International (PSI)</a>: PPD & Mental Health Emergency Hotline</li>
                <ul class="list">
                    <li>Call the PSI HelpLine at 1-800-944-4773 or text “Help” to 800-944-4773</li>
                </ul>
                <li><a href="https://postpartumprogress.com/">Postpartum Progress</a>: Nonprofit organization and blog that provides peer support to women and raises awaress of postpartum depression</li>
            </ul>
        </div>
    </div>
{% endblock %}