{% extends 'base.html' %}

{% block title %}
    Postpartum Depression
{% endblock %}

{% block content %}
    <div>
        <h3>General Information</h3>
        <p>Postpartum depression is a birth complication that affects up to 1 in 7 women. Symptoms include excess worrying and anxiety, difficulty sleeping, lack of interest in self-care, poor appetite, lack of energy, and frequent crying. Some of these symptoms can be normal responses, and many women have “baby blues” that can come with some of these symptoms, but “baby blues” typically go away within a few days or a week. Postpartum depression comes with more severe symptoms that last for a longer period of time. There are different treatments available, such as different types of therapy and medications like antidepressants, and brain stimulation therapies.</p>

        <h3>Resources</h3>
        <ul class="list">
            <li>Guide to support groups in each state</li>
            <ul class="list">
                <li>
                    <a href="https://postpartumprogress.com/ppd-support-groups-in-the-u-s-canada">https://postpartumprogress.com/ppd-support-groups-in-the-u-s-canada</a>
                </li>
            </ul>
            <li>Postpartum Support International (PSI)</li>
            <ul class="list">
                <li>
                    Mental health emergency hotline
                </li>
                <li>
                    Call the PSI HelpLine: 1-800-944-4773 or text “Help”
                </li>
                <li>
                    <a href="https://www.postpartum.net/">https://www.postpartum.net/</a>
                </li>
            </ul>
            <li>Postpartum Progress</li>
            <ul class="list">
                <li>
                    Blog & nonprofit organization that provides peer support to women and raises awareness
                </li>
                <li>
                    <a href="https://postpartumprogress.com/">https://postpartumprogress.com/</a>
                </li>
            </ul>
        </ul>

    </div>
{% endblock %}