{% extends "base.html" %}

{% block title %}
   Preg: Submit Journal Entry
{% endblock %}

{% block content %}
    <p class = entryintro><em>What's on your mind? How are you feeling today? What do you want to remember about your pregnancy journey?</em></p>
    <form action="/submitentry" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="title" name="title" placeholder="Title Your Entry" type="text" size="100">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="entry" name="entry" placeholder="Type Your Entry Here" type="text" size="100">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="mood" name="mood" placeholder="Mood" type="text" size="100">
        </div>
        <button class="submit" type="submit">Save Entry</button>
    </form>
{% endblock %}