{% extends 'base.html' %}

{% block title %}
   Tracking
{% endblock %}

{% block content %}
    <div>
        {% if (weeks >= 0 and weeks <= 4) %}
        <div>
            Your baby is about the size of a grain of rice! Tiny, but your baby’s face and eyes are starting to develop and the heart starts beating. The amniotic sac grows around the fertilized egg and this sac provides a cushion for the embryo. The placenta also forms, which provides the nutrition and support from you to your baby! 
        </div>
        {% elif (weeks >= 5 and weeks <= 8) %}
        <div>
            Your baby is about half an inch long! Development of your baby’s limbs starts as buds, and the face continues to develop. In these weeks, various organs start to emerge, including the brain, digestive tract, and sensory organs. Bone starts to replace the cartilage in the embryo. Your baby starts developing webbed fingers and toes, and can swim around in the womb. You can even detect the heartbeat with an ultrasound! 
        </div>
        {% elif (weeks >= 9 and weeks <= 12) %}
        <div>
            Your baby is about 2.5 inches long! Your baby’s limbs, hands, feet, fingers, and toes all become well developed. Ears, teeth, and nails start to form, as well as reproductive organs (which cannot be determined by ultrasound yet). All of the organs and extremities are present after these weeks!
        </div>
        {% elif (weeks >= 13 and weeks <= 16) %}
        <div>
            Your baby will grow to about 7 inches long! Your baby starts to stretch, yawn, suck their thumb, and make cute expressions, among other movements. The nervous system develops, and the reproductive system fully develops (so you can tell whether your baby is a girl or boy through an ultrasound!). Hair, eyelids, eyelashes, and nails are also well developed after this month.
        </div>
        {% elif (weeks >= 17 and weeks <= 20) %}
        <div>
            Your baby will grow to about 10 inches long in this period! You also might start to feel your baby move around, being able to twist, wiggle, and kick. Your baby can respond to external stimuli like sounds, and now sleeps, so noise and movement can wake them up. Hair continues to grow on your baby, with thin hair (lanugo) covering the shoulders and back. A thick “cheesy” substance (vernix caseosa) will cover the skin to protect it from being exposed to amniotic fluid.
        </div>
        {% elif (weeks >= 21 and weeks <= 25) %}
        <div>
            Your baby will grow to about 12 inches long and weigh about 1.5 pounds! You might even feel your baby hiccup in jerk-like motions! Your baby’s skin goes from being translucent to opaque, and is wrinkled. Their fingerprints become well developed, and they are able to open their eyes now. Your baby’s heartbeat can be heard through a stethoscope, or possibly by putting an ear against your belly.
        </div>
        {% elif (weeks >= 26 and weeks <= 30) %}
        <div>
            Your baby will grow to about 17 inches and weigh about 3 pounds! Your baby’s hearing will fully develop, and lungs are still growing. Your baby is able to suck now, and might suck their thumb. Your baby has sleeping and waking patterns, and might even be dreaming.
        </div>
        {% elif (weeks >= 31 and weeks <= 34) %}
        <div>
            Your baby will grow to about 20 inches and weigh about 5 pounds. Your baby can hear distinct sounds like familiar voices and music, and will be practicing opening eyes and breathing. All of your baby’s organs will be almost fully mature, except the lungs. Your baby probably won’t move around as much, due to the tighter space. Your baby will probably start getting into the head-down position.
        </div>
        {% elif (weeks >= 35) %}
        <div>
            Your baby will grow to about 21 inches, and weigh about 6.5 pounds (but there is a range)! Your baby’s circulatory system is complete, with blood pumping throughout the body, and their bones and muscles are ready for the outside world. Lungs become fully mature, ready to breathe and cry. Your baby’s head will drop into your pelvis (head-down position) which can allow you to breathe more easily. Birth will happen soon, but it is normal for your baby not to be born exactly on the expected due date!
        </div>
        {% endif %}
    </div>
{% endblock %}